@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 254, 52%, 6%;

    --card: 0 0% 100%;
    --card-foreground: 254, 52%, 6%, 1;

    --popover: 0 0% 100%;
    --popover-foreground: 254, 52%, 6%, 1;

    --primary: 253, 96%, 66%;
    --primary-foreground: 0, 0%, 100%;

    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;

    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0, 0%, 100%, 1;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 254, 52%, 6%, 1;

    --radius: 0.5rem;
    --dark-purple: 267, 9%, 43%, 1;
    --purple: 253, 96%, 66%, 1;
    --light-purple: 253, 94%, 93%, 1;
  }

  .dark {
    --background: 254, 52%, 6%;
    --foreground: 210 20% 98%;

    --card: 254, 52%, 6%, 1;
    --card-foreground: 210 20% 98%;

    --popover: 254, 52%, 6%, 1;
    --popover-foreground: 210 20% 98%;

    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .container {
    @apply px-3 lg:px-4;
  }
}

@media (min-width: 1024px) {
  .hero_bg {
    clip-path: ellipse(80% 98% at 50% 0%);
  }
}
